@model IEnumerable<FinalProject.DATA.EF.Car>
@using FinalProject.DATA.EF;
<!--== SlideshowBg Area Start ==-->
<section id="slideslow-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="slideshowcontent">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <h1>RESERVE A CAR TODAY!</h1>
                            <p>FOR AS LOW AS $50 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>

                            <div class="book-ur-car">
                                <form action="/Cars/Index">
                                    <div class="pick-location bookinput-item">
                                        <select class="custom-select">
                                            <option selected>Pick Location</option>
                                            <option value="1">Dhaka</option>
                                            <option value="2">Comilla</option>
                                            <option value="3">Barishal</option>
                                            <option value="3"></option>
                                        </select>
                                    </div>

                                    <div class="pick-date bookinput-item">
                                        <input id="startDate2" placeholder="Pick Date" />
                                    </div>

                                    <div class="retern-date bookinput-item">
                                        <input id="endDate2" placeholder="Return Date" />
                                    </div>

                                    <div class="car-choose bookinput-item">
                                        <select class="custom-select">
                                            <option selected>Choose Car</option>
                                            <option value="1">BMW</option>
                                            <option value="2">Ferrari</option>
                                            <option value="3">Lamborghini</option>
                                        </select>
                                    </div>

                                    <div class="bookcar-btn bookinput-item">
                                        <a class="customAnchor" href="/Cars/Index">Cars Available</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== SlideshowBg Area End ==-->
<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Cardoor&copy; was founded in 2010 by founder Ricky Bobby and co-founder Stacy Morgan. After Ricky's countless business trips, he figured there had to be an easier way to rent cars rather than using your typical renting agencies found at the airport. His envision was to utilize third-parties to list their vehicles on the site and charge a small fee for the customer to rent a fun and cool ride for special events/occurances at a cost much cheaper than all of the competitors.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>At Cardoor&copy; we believe in fun for all at a fair price. Our specialty is highly-modified vehicles and will match ANY competitors daily rate.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="~/Content/assets/img/home-2-about.png" alt="A Toyota Camry">
                </div>
            </div>
            <!-- About Video End -->
        </div>

        <!-- About Fretutes Start -->
        <div class="about-feature-area">
            <div class="row">
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>WE REPRESENT ALL MAKES</h3>
                        <p>Our third-party dealers and leasing companies represent every single car make and model in the business.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item active">
                        <i class="fa fa-car"></i>
                        <h3>WE BEAT ANY COMPETITORS PRICE</h3>
                        <p>At Cardoor&copy; we pride ourselves on beating ANY competitors price with a 100% price match guarantee.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
                <!-- Single Fretutes Start -->
                <div class="col-lg-4">
                    <div class="about-feature-item">
                        <i class="fa fa-car"></i>
                        <h3>WE REPRESENT ALL MODELS</h3>
                        <p>Our third-party dealers and leasing companies represent every single car make and model in the business.</p>
                    </div>
                </div>
                <!-- Single Fretutes End -->
            </div>
        </div>
        <!-- About Fretutes End -->
    </div>
        </div>
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Us Area End ==-->
<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="~/Content/assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->
<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Amendities included within your Cardoor&copy; rental.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <!-- Service Content Start -->
        <div class="row">
            <div class="col-lg-11 m-auto text-center">
                <div class="service-container-wrap">
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-taxi"></i>
                        <h3>RENTAL POLICY</h3>
                        <p>We're more than just a reservation company. At Cardoor&copy; we offer a 100% money-back guarantee if you are not happy with your rental.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-cog"></i>
                        <h3>CAR REPAIR</h3>
                        <p>We don't believe our customers are at fault for anything. We cover up to $20,000 in maintance costs per reservation.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-map-marker"></i>
                        <h3>TAXI SERVICE</h3>
                        <p>At Cardoor&copy; we will make sure the car you reserve will be delievered to you ANYWHERE you might be.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-life-ring"></i>
                        <h3>life insurance</h3>
                        <p>At Cardoor&copy; all of our policies include life insurance for ALL passengers and drivers without extra cost.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-bath"></i>
                        <h3>car wash</h3>
                        <p>Cardoor&copy; has partnered with 27,000+ carwashes across the nation to ensure your vehicle stays squeaky clean.</p>
                    </div>
                    <!-- Single Service End -->
                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-phone"></i>
                        <h3>Support</h3>
                        <p>With our 24/7 support lines, we can assure you that if an incident occours, we will be able to assist you.</p>
                    </div>
                    <!-- Single Service End -->
                </div>
            </div>
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->
<!--== Fun Fact Area Start ==-->
<section id="funfact-area" class="overlay section-padding" style="background-image: url(/Content/assets/img/funfact-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
                <div class="funfact-content-wrap">
                    <div class="row">
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">@ViewBag.UsersCount</span>+</p>
                                    <h4>HAPPY CLIENTS</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-car"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">@ViewBag.CarsCount</span>+</p>
                                    <h4>CARS IN STOCK</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">@ViewBag.DealersCount</span>+</p>
                                    <h4>ACTIVE DEALERS</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Fun Fact Area End ==-->
<!--== Team Area Start ==-->
<section id="team-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Creative Persons</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Meet the team that keeps Cardoor&copy; functioning!</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="team-content">
                    <div class="row">
                        <!-- Team Tab Menu start -->
                        <div class="col-lg-4">
                            <div class="team-tab-menu">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-1.png" alt="Ricky Bobby">
                                            </div>
                                            <h5>Ricky Bobby</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-3.png" alt="JSOFT">
                                            </div>
                                            <h5>Steven Ramirez</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_3" data-toggle="tab" href="#team_member_3" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-2.png" alt="JSOFT">
                                            </div>
                                            <h5>Jessica Viking</h5>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab_item_4" data-toggle="tab" href="#team_member_4" role="tab" aria-selected="true">
                                            <div class="team-mem-icon">
                                                <img src="~/Content/assets/img/team/team-mem-thumb-4.png" alt="JSOFT">
                                            </div>
                                            <h5>Raul Anderssen</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Team Tab Menu End -->
                        <!-- Team Tab Content start -->
                        <div class="col-lg-8">
                            <div class="tab-content" id="myTabContent">
                                <!-- Single Team  start -->
                                <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-1.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Ricky Bobby</h4>
                                                <h5>CEO &amp; COO</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Ricky Bobby is our CEO and COO. He keeps everything running smoothly behind the scenes and assures that the quality of the cars and dealers meets the criteria.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-3.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Steven Ramirez</h4>
                                                <h5>Marketing Manager</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>With over 15 years in the business, Steven is in charge of marketing and all things social media. He loves to play with his dog, Cheerio on the weekends and frequents at dogparks.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_3" role="tabpanel" aria-labelledby="tab_item_3">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-2.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Jessica Viking</h4>
                                                <h5>Sales Manager</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Jessica has been with Cardoor&copy; since she graduated college. With her father being a former NASCAR&copy; driver, her passion of vehicles definitely shows. She likes turtles.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                                <!-- Single Team  start -->
                                <div class="tab-pane fade" id="team_member_4" role="tabpanel" aria-labelledby="tab_item_4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-pro-pic">
                                                <img src="~/Content/assets/img/team/team-mem-4.png" alt="JSOFT">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="team-member-info text-center">
                                                <h4>Raul Anderssen</h4>
                                                <h5>Quality Manager</h5>
                                                <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                <p>Raul is the newest addition to the team. He was the 2020 Formula1 Championship winner. He spends his free time tweaking his Formula1 car as well as at Chick-Fil-a&copy;.</p>
                                                <div class="team-social-icon">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Team  End -->
                            </div>
                        </div>
                        <!-- Team Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Team Area End ==-->
<!--== Mobile App Area Start ==-->
<div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2>SAVE 30% WITH THE APP</h2>
                    <p>Easy &amp; Fast - Book a car in 60 seconds</p>
                    <div class="app-btns">
                        <a href="#"><i class="fa fa-android"></i> Android Store</a>
                        <!-- These are both non-functional. I would love to learn Swift and Java in the future, but I currently do not know these technologies. -->
                        <a href="#"><i class="fa fa-apple"></i> Apple Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Mobile App Area End ==-->